#command {
    width: 60%;
    height: fit-content;
    display: inline-block;
}

#command>#content {
    margin: 20px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 1px 1px;
    height: 120px;
    border-radius: 2px;
    position: relative;
}

#payer>button {
    display: inline-block;
    margin-left: 20px;
    width: 75%;
    border-radius: 5px;
    border: none;
    background-color: yellow;
}

#payer {
    display: inline-block;
    width: 30%;
    background-color: white;
    height: fit-content;
    vertical-align: top;
    text-align: center;
    margin-top: 20px;
    box-shadow: 1px 1px;
    border-radius: 4px;
    padding-bottom: 20px;
}

#payer>p {
    font-family: fantasy;
}

#payer>button {
    font-family: monospace;
    height: 40px;
}

#payer>button:hover {
    background-color: black;
    color: white;
}

#content>div>h1 {
    margin: 0px;
    margin-left: 8px;
    font-family: monospace;
    display: inline-block;
    font-size: 10px;
}

body {
    background-color: white;
}

#content>div {
    display: inline-block;

    width: fit-content;
}

#content>div>p {
    display: inline;
    margin-left: 10px;
    background-color: goldenrod;
    border-radius: 2px;
    width: fit-content;
    margin-top: 10px;
    font-family: fantasy;
}

#content>button {
    position: absolute;
    right: 0px;
    margin-top: 3px;
}

#content>div>p+br+p {
    display: inline;
    margin-left: 10px;
    background-color: rgb(172, 9, 136);
    border-radius: 2px;
    width: fit-content;
    margin-top: 10px;
    font-family: fantasy;
}

#command>#content>img {
    width: 50px;
    height: 50px;
    max-width: 100px;
}

#payer>p+p {
    font-family: fantasy;
    color: green;
}